@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: #0B0B0B;
    color: white;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #f5f5f514; 
  }
  
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .popup{
    width: 100%;
    background: #8e8e8e23;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    border-radius: 6px;
    border: 1px solid #8e8e8e23;
    animation: popup 5s forwards 1s;
    opacity: 0;
    z-index: 100;

}

.danger{
    background: #c9061d;
}

.success{
    background: #00753b;
}

@keyframes popup{
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 100%;
    }
    70%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        display: none;
    }
}

input[type='text']{
    all: unset;
    width: 100%;
    background: #8e8e8e23;
    border-radius: 6px;
    padding: 10px 8px;
    box-sizing: border-box;
    cursor: auto;
}

  .container{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.sidebar{
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-right: 1px solid #f5f5f526 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    height: 10%;
    font-size: 28px;
    font-weight: 700;
}

    .logo a{
        text-decoration: none;
        color: white;
    }

    
    .auth{
        display: flex;
        align-items: center;
        height: 15%;
        color: rgba(255, 255, 255, 0.9);
        font-size: 16px;
        font-weight: 400;
    }
        .auth a{
            color: white;
        }
    
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        height: 75%;
    }
    
        .section{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .section-head{
            font-size: 14px;
            color: #f5f5f5b8;
            margin-bottom: 2%;
        }
        .section-links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 98%;
            box-sizing: border-box;
            gap: 10px;
            font-size: 14px;
        }
        .section-links a{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            color: white;
            text-decoration: none;
            background: #f5f5f509;
            border-radius: 5px;
            padding: 10px 14px;
            transition: .4s ease;
        }
        .section-links a:hover{
            background: #f5f5f514;
        }
        .section-links i{
            font-size: 14px;
        }
      
    
    .tag{
        display: flex;
        align-items: center;
        height: 3%;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
    }
    
.main{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-head{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .main-head div{
        background: #8e8e8e23;
        border: 1px solid #8e8e8e23;
        width: 20%;
        padding: 6px 25px;
        border-radius: 10px;
        box-sizing: border-box;
        line-height: 20px;
    }

.main-body{
    width: 98%;
    margin: 0 auto;
}


button{
    all: unset;
    background: #8e8e8e23;
    border-radius: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    cursor: pointer;
}

table{
    text-align: left;
    width: 100%;
    background: #8e8e8e23;
    border-radius: 10px;
    border: 1px solid #8e8e8e23;
    padding: 20px;
    font-size: 14px;
}

    table img{
        width: 100%;
    }


    table button:last-child{
        background: #c61025;
    }


table td{
    padding: 10px 0px;
    border-bottom: 1px solid #8e8e8e23;
}

