@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: #0B0B0B;
    color: white;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #f5f5f514; 
  }
  
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.sidebar{
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-right: 1px solid #f5f5f526 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    height: 10%;
    font-size: 28px;
    font-weight: 700;
}

.auth{
    display: flex;
    align-items: center;
    height: 15%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 400;
}
    .auth a{
        color: white;
    }

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 75%;
}

    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section-head{
        font-size: 14px;
        color: #f5f5f5b8;
        margin-bottom: 2%;
    }
    .section-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        box-sizing: border-box;
        gap: 10px;
        font-size: 14px;
    }
    .section-links a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: white;
        text-decoration: none;
        background: #f5f5f509;
        border-radius: 5px;
        padding: 10px 14px;
        transition: .4s ease;
    }
    .section-links a:hover{
        background: #f5f5f514;
    }
    .section-links i{
        font-size: 14px;
    }
  

.tag{
    display: flex;
    align-items: center;
    height: 3%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.main{
    width: 75%;
}

    .main-head{
        width: 90%;
        margin: 0 auto;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: end;
        box-sizing: border-box;
    }
    .main-head a{
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 14px;
        background: #f5f5f514;
        border-radius: 8px;
        border: 1px solid #8e8e8e23;
        padding: 10px 20px;
        gap: 10px;
    }

.main-body{
    margin-top: 2%;
    width: 100%;
}

.posts{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

    .post{
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        background: #8e8e8e23;
        border-radius: 10px;
        border: 1px solid #8e8e8e23;
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
    }

        .post-head{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            font-weight: 600;
        }
        .post-info{
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
        }

        .post-info button{
            all: unset;
            cursor: pointer;
        }

        .post-info button:last-child{
            color: #c9061d;
        }

        .post-time{
            font-weight: normal;
            font-size: 10px;
            color: #f5f5f5b8;
        }

        .post-info span:last-child{
            font-size: 12px;
            font-weight: normal;
            color: #f5f5f5b8;
        }

        .post-body{
            width: 100%;
            min-height: fit-content;
            font-size: 14px;
        }

        .post-media{
            width: 100%;
            background: #8e8e8e23;
        }

            .post-media img{
                width: 100%;
            }

        .post-foot{
            width: 100%;
            height: fit-content;
            font-size: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 4px;
        }

        .post-foot button{
            all: unset;
            background: #f5f5f509;
            border: 1px solid #8e8e8e23;
            font-size: 12px;
            border-radius: 30px;
            padding: 6px 14px;
            cursor: pointer;
            transition: .4s ease;
        }

        .post-foot button:hover{
            background: #f5f5f514;
        }

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #d9d9d923;
    width: 40%;
    border-radius: 20px;
    padding: 40px 0px;
    border: 1px solid #d9d9d923;
    box-shadow: 0px 0px 40px #d9d9d90b;
}

.login-head{
    width: 100%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
}

    .login-head a{
        text-decoration: none;
        color: white;
    }

.login-body{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .login-body div{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4%;
        gap: 10px;
    }
    .login-body div label{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 4px;
    }

    .login-body div:first-child{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-bottom: 4%;
        gap: 10px;
    }

    .login-body input[type='email'], input[type='password'], input[type='text']{
        all: unset;
        width: 100%;
        background: #8e8e8e23;
        border-radius: 6px;
        padding: 10px 8px;
        box-sizing: border-box;
        cursor: auto;
    }

    .login-body input[type='date']{
        all: unset;
        width: 100%;
        background: #8e8e8e23;
        border-radius: 6px;
        padding: 10px 8px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .login-body button[type='submit']{
        all: unset;
        width: fit-content;
        background: #0179D1;
        border-radius: 50px;
        padding: 12px 60px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .login-body div:last-child{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
    }


    .login-body div:last-child a{
        color: white;
    }


.create{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 30px;
    background: #8e8e8e23;
    border: 1px solid #8e8e8e23;
}

.create form{
    all: unset;
}

    .create-head{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 30px;
        box-sizing: border-box;
        font-weight: 700;
        border-bottom: 1px solid #8e8e8e23;
    }

    .create-body{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .create-body select{
        width: fit-content;
        background: #8e8e8e23;
        color: white;
        padding: 4px 10px;
        border-radius: 4px;
        border: 1px solid #8e8e8e23;
        outline: unset;
    }

    .create-body select option {
        background-color: rgba(142, 142, 142, 0.35);
        color: black;
      }


    .create-body textarea{
        width: 100%;
        min-height: 50px;
        height: 120px;
        padding: 6px 10px;
        box-sizing: border-box;
        font-family: 'Inter';
        max-height: 300px;
        background: #8e8e8e23;
        border: 1px solid #8e8e8e23;
        color: white;
        resize: vertical;
        border-radius: 10px;
    }
    .create-body textarea:focus{
        outline: 1px solid #8e8e8e23;
    }

    .create-foot{
        width: 90%;
        margin: 0 auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 6px;
    }

    .create-foot a{
        text-decoration: none;
        color: white;
    }

    .create-foot button{
        all: unset;
        width: fit-content;
        background: #0179D1;
        font-size: 14px;
        border-radius: 50px;
        padding: 8px 18px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .create-foot button:first-child{
        background: #f5f5f526;
    }


.chats{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


    .message{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        z-index: 100;
    }

    .message form{
       all: unset;
    }

    .chat{
        border-radius: 10px;
        padding: 16px 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
    }

    .chat-head{
        width: 100%;
        font-size: 14px;
    }

    .chat-body{
        width: fit-content;
        background: #8e8e8e23;
        border: 1px solid #8e8e8e23;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .chat-foot{
        font-size: 10px;
        color: #f5f5f5b8;
    }




@media only screen and (max-width: 805px) {

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
    
.main{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    margin-top: 4%;
    padding: 0px;
} 


.sidebar{
    display: none;
    width: 80%;
    height: 100vh;
    background: #0B0B0B;
    position: fixed;
    left: 0px;
    top: 0;
}

    .main-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
    }
    
form{
    width: 90%;
}

}