@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: #0B0B0B;
    color: white;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #f5f5f514; 
  }
  
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.sidebar{
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-right: 1px solid #f5f5f526 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    height: 10%;
    font-size: 28px;
    font-weight: 700;
}

    .logo a{
        text-decoration: none;
        color: white;
    }
    
.auth{
    display: flex;
    align-items: center;
    height: 15%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 400;
}
    .auth a{
        color: white;
    }

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 75%;
}

    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section-head{
        font-size: 14px;
        color: #f5f5f5b8;
        margin-bottom: 2%;
    }
    .section-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        box-sizing: border-box;
        gap: 10px;
        font-size: 14px;
    }
    .section-links a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: white;
        text-decoration: none;
        background: #f5f5f509;
        border-radius: 5px;
        padding: 10px 14px;
        transition: .4s ease;
    }
    .section-links a:hover{
        background: #f5f5f514;
    }
    .section-links i{
        font-size: 14px;
    }
  

.tag{
    display: flex;
    align-items: center;
    height: 3%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.main{
    width: 75%;
}

    .main-head{
        width: 90%;
        margin: 0 auto;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: end;
        box-sizing: border-box;
    }
    .main-head a{
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 14px;
        background: #f5f5f514;
        border-radius: 8px;
        border: 1px solid #8e8e8e23;
        padding: 10px 20px;
        gap: 10px;
    }

.main-body{
    margin-top: 2%;
    width: 100%;
}

.popup{
    background: #8e8e8e23;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #8e8e8e23;
    animation: popup 5s forwards 1s;
    opacity: 0;
    z-index: 100;
    top: 20px;
    position: fixed;
}

.danger{
    background: #c9061d;
}

.success{
    background: #00753b;
}

@keyframes popup{
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 100%;
    }
    70%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        display: none;
    }
}

.posts{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

    .post{
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        background: #8e8e8e23;
        border-radius: 10px;
        border: 1px solid #8e8e8e23;
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        }
    .post:last-child{
        margin-bottom: 2%;
    }

        .post-head{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            font-weight: 600;
        }
        .post-info{
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
        }

        .post-info button{
            all: unset;
            cursor: pointer;
        }

        .post-info button:last-child{
            color: #c9061d;
        }

        .post-time{
            font-weight: normal;
            font-size: 10px;
            color: #f5f5f5b8;
        }

        .post-info span:last-child{
            font-size: 12px;
            font-weight: normal;
            color: #f5f5f5b8;
        }

        .post-info form{
            all: unset;
        }
        .post-link a{
            color: #f5f5f5b8;
            font-size: 14px;
        }

        .post-body{
            width: 100%;
            min-height: fit-content;
            font-size: 14px;
        }

        .post-media{
            width: 100%;
            border-radius: 20px;
            background: #8e8e8e23;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .post-media img{
                width: 100%;
                border-radius: 10px;
            }

        .post-foot{
            width: 100%;
            height: fit-content;
            font-size: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 4px;
        }

        .post-foot a{
            all: unset;
            text-decoration: none;
            background: #f5f5f509;
            border: 1px solid #8e8e8e23;
            font-size: 12px;
            border-radius: 30px;
            padding: 6px 14px;
            cursor: pointer;
            transition: .4s ease;
        }

        .post-foot button:hover{
            background: #f5f5f514;
        }

        .pagination{
            background: #8e8e8e23;
            padding: 6px;
            color: white !important;
            margin-bottom: 2%;
            border: 1px solid #8e8e8e23;
            border-radius: 6px;
        }
        .pagination a {
            color: white !important;
        }

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #d9d9d923;
    width: 40%;
    border-radius: 20px;
    padding: 40px 0px;
    border: 1px solid #d9d9d923;
    box-shadow: 0px 0px 40px #d9d9d90b;
}

.login-head{
    width: 100%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
}

    .login-head a{
        text-decoration: none;
        color: white;
    }

.login-body{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .login-body div{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4%;
        gap: 10px;
    }
    .login-body div label{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 4px;
    }

    .login-body div:first-child{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-bottom: 4%;
        gap: 10px;
    }

    .login-body input[type='email'], input[type='password'], input[type='text']{
        all: unset;
        width: 100%;
        background: #8e8e8e23;
        border-radius: 6px;
        padding: 10px 8px;
        box-sizing: border-box;
        cursor: auto;
    }

    .login-body input[type='date']{
        all: unset;
        width: 100%;
        background: #8e8e8e23;
        border-radius: 6px;
        padding: 10px 8px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .login-body button[type='submit']{
        all: unset;
        width: fit-content;
        background: #0179D1;
        border-radius: 50px;
        padding: 12px 60px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .login-body div:last-child{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
    }


    .login-body div:last-child a{
        color: white;
    }


.create{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 80%;
    height: 90vh;
    margin: 0 auto;

}

.create form{
    all: unset;
    width: 95%;
    height: 90%;
    margin: 0 auto;
}

    .create-head{
        width: 100%;
        height: 60%;
        margin: 0 auto;
        background: #8e8e8e23;
        border: 1px solid #8e8e8e23;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .create-head textarea{
        width: 100%;
        min-height: 30%;
        height: 100%;
        max-height: 100%;
        padding: 20px;
        box-sizing: border-box;
        font-family: 'Inter';
        background: none;
        border: 1px solid #8e8e8e23;
        color: white;
        resize: vertical;
        border-radius: 10px;
    }
    .create-head textarea:focus{
        outline: 1px solid #8e8e8e23;
    }

    .create-foot{
        width: 100%;
        height: 40%;
        margin: 0 auto;
        background: #8e8e8e23;
        border: 1px solid #8e8e8e23;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-size: 14px;
    }
        .foot-top{
            width: 95%;
            margin: 0 auto;
        }
        

    .foot-top select{
        width: 60%;
        background: #8e8e8e23;
        color: white;
        padding: 6px 14px;
        border-radius: 4px;
        border: 1px solid #8e8e8e23;
        outline: unset;
    }

    .foot-top select option {
        background-color: rgba(142, 142, 142, 0.35);
        color: black;
      }

    .create-foot input[type='file']::file-selector-button {
        border: 1px solid #8e8e8e23;
        border-radius: 6px;
        padding: 6px 14px;
        background-color: #8e8e8e23;
        color: white;
        transition: 1s;
      }


      .foot-middle{
        width: 95%;
        margin: 0 auto;
    }


    .foot-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 95%;
        margin: 0 auto;
    }
    .create-foot button:first-child{
        all: unset;
        width: 70%;
        background: #0179D1;
        font-weight: 500;
        border-radius: 6px;
        text-align: center;
        padding: 8px 18px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .create-foot button a{
        text-decoration: none;
        color: white;
    }

    .create-foot button:last-child{
        all: unset;
        width: 30%;
        background: #8e8e8e23;
        font-weight: 500;
        border-radius: 6px;
        text-align: center;
        padding: 8px 18px;
        box-sizing: border-box;
        cursor: pointer;
    }
   
   


.chats{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-disclaimer{
    border-bottom: 1px solid #8e8e8e23;
}

.message{
    width: 90%;
    padding: 6px 0px;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 100;
    position: sticky;
    bottom: 10px;
    background: #0B0B0B;
    box-shadow: 0px 0px 20px #0B0B0B;
}

    .message form{
       all: unset;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }

    
    .message input{
        width: 91%;
    }

    .message button{
        all: unset;
        width: 8%;
        background: #0179D1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        border-radius: 6px;
        cursor: pointer;
    }

    .chat{
        border-radius: 10px;
        padding: 16px 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
    }

    .chat-head{
        width: 100%;
        font-size: 12px;
    }

    .chat-body{
        width: fit-content;
        background: #8e8e8e23;
        border: 1px solid #8e8e8e23;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 14px;
    }

    .self-chat{
        align-self: end;
    }

    .self-chat .chat-foot{
        text-align: end;
    }

    .chat-foot{
        font-size: 10px;
        color: #f5f5f5b8;
    }

.disclaimer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.comments{
    margin-top: 2%;
    background: #8e8e8e23;
    border: 1px solid #8e8e8e23;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 2%;
}

.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .comment-top{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .comment-body{
       width: 95%;
       margin-top: 6px;
    }



.comment:last-child{
   border-bottom: none;
}
    .post-comment input{
        width: 90%;
    }

    .post-comment input::placeholder{
       font-size: 14px;
    }
    
    .post-comment form{
        all: unset;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-comment button{
        all: unset;
        width: 8%;
        background: #0179D1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        border-radius: 6px;
        cursor: pointer;
    }

    .comment{
        border-bottom: 1px solid #8e8e8e23;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
    }



@media only screen and (max-width: 805px) {

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
    
.main{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    margin-top: 4%;
    padding: 0px;
} 


.sidebar{
    display: none;
    width: 80%;
    height: 100vh;
    background: #0B0B0B;
    position: fixed;
    left: 0px;
    top: 0;
}

    .main-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
    }
    
form{
    width: 90%;
}

}